.navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-left: 10%;
    padding-right: 20px;
}

.linksContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.linksContainer .link {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.linksContainer .activeLink {
    font-weight: bold;
    color: orange;
    text-decoration: none;
}

.searchBarContainer {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    border-radius: 5px;
    border: 2px solid #ffff;
    /* border-color: orange; */
}

.searchBarBtn {
    background-color: orange;
    color: white;
    border: 0;
    border: 1px solid #ffff;
    cursor: pointer;
    padding: 2px 5px;
    margin-left: 10px;
    border-radius: 5px;
}